# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDE / Editor folders
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Uploaded files (optional if you upload to uploads/ folder)
uploads/

# Build folders
dist/
build/
